.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.content-container {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.loading-text {
  margin-top: 20px;
  font-size: 1.2rem;
  color: #666;
  font-family: 'Poppins', sans-serif;
}

.cards-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
